---
# Configuration file for 'dhcp_infoblox' dhcp provider
#
# Use :server setting in dhcp.yml if you are managing a dhcp server which is not localhost.
# Use :subnets setting in dhcp.yml if you want to restrict subnets available to smart-proxy.

# Credentials for Infoblox API, make sure the DHCP Role is assigned
:username: "admin"
:password: "infoblox"

# Record type to manage: can be "host" or "fixedaddress". The latter is recommended as
# "host" setting will cause conflicts when using Infoblox DNS smart proxy plugin. When
# using "host" setting make sure domain exists in Infoblox.
:record_type: 'fixedaddress'

# View used for fixedaddress record type.
#:network_view: 'default'

# View used for host record type, usually 'default.myview' for custom names.
#:dns_view: 'default'

# Number of seconds to wait after successful Grid restart (make sure to increase Foreman and CLI timeouts).
# Set to 0 to disable the delay.
#:wait_after_restart: 10

# DHCP custom options (name, num, value and vendor_class). Set to blank to ignore.
# This is only used for 'fixedaddress' record types.
#:options:
  #-
    #name: "DHCP option name"
    #num: 1234
    #value: "A value"
    #vendor_class: "A vendor class"
